.category-modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.category-modal-content {
  background: white;
  padding: 2rem;
  border-radius: 8px;
  width: 90%;
  max-width: 400px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.category-modal-content h2 {
  margin-top: 0;
}

.category-modal-input {
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.category-modal-select {
  width: 100%;
  padding: 10px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: white;
  font-size: 14px;
}

.category-modal-buttons {
  display: flex;
  justify-content: center;
}

.category-modal-add-btn {
  background-color: #EDA415;
  color: white;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.category-modal-discard-btn {
  background-color: #EEEEEE;
  color: black;
  padding: 10px 16px;
  margin-left: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
